.center {
    display: flex;
    justify-content: center;
    align-items: center;
}
html{
    font-family: Ubuntu;
}
body{
    background-color: rgba(0,0,0,0.05)
}
input{
    border-radius: 4px;
}
button{
    border-radius: 4px;
}
button:hover{
    box-shadow: 0px 0px 4px;
}
.dropshadow:hover{
    box-shadow: 0px 0px 4px;
}
#topbanner{
    width: 100%;
    border-bottom: 2px solid black;
    margin-bottom: 10px;
}
.bigbutton{
    border: 2px solid black;
    border-radius: 5px;
    width: 100px;
    height: 60px;
}
img{
    border-radius: 5px;
    border: 2px solid black;
    width: 50px;
    padding: 2px;
}
#dice{
    margin-top: 20px;
    position: absolute;
    left: 10%;
}
td, th{
    border: 1px solid black;
    text-align: center;
    padding: 5px;
}
table{
    border-collapse: collapse;
}
#scoresheet1{
    position: absolute;
    right: 30%;
    padding-top: 20px;
}
#scoresheet2{
    position: absolute;
    right: 2%;
    padding-top: 20px;
}
#rollcontainer{
    position: absolute;
    left: 16%;
    top: 200px;
}
.clickable:hover{
    box-shadow: 0px 0px 4px;
}
.inactive{
    opacity: 0.4;
}
#explanation{
    position: absolute;
    left: 10%;
    top: 270px;
    text-align: center;
}
#score{
    position: absolute;
    left: 15%;
    top: 200px;
    text-align: center;
}
.green{
    background-color: rgba(64, 235, 52,80);
}
.red{
    background-color: red;
}
